<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Intelli Snake</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<style>
		:root {
			--rows: {{params.rows}};
			--cols: {{params.cols}};
		}
	</style>
	<link rel="stylesheet" href="static/web/style.css">
</head>
<body>
	<div class="container">
		
		<div class="sub-container">
			<div class="top">
				<div id="score" onclick="map.guide()">Score: <span id="score_span">0</span></div>
				<div id="fouls" onclick="map.guide()">Fouls: <span id="fouls_span">0</span></div>
				<div id="fouls" onclick="map.guide()">Steps: <span id="steps_span">0</span></div>
			</div>
			<div class="game">

				<div id="ins">

					<b> Help Snake Fetch the food</b> <br>
					<ul>
						<li> use arrow keys to move the Snake </li>
						<li> use WASD to move the food </li>
						<li> You can automate the snake to catch food by itself </li>
					</ul>
					<br>
					<b> A foul is commited when</b> <br>
					<ul>
						<li> the snake eats itself </li>
						<li> the snake hits the wall (collision needs to be enabled) </li>
						<li> the automated snake fails to catch food in 100 steps </li>
					</ul>
					<br>
					<hr>
					<br>
					<h3> <b> Automation </b> </h3>
					<ul>
						<li> For automation we have 2 different deep neural networks models </li>
						<li> Both the models are based on keras API, using tensorflow, implementing Functional API and Sequential models. </li>
						<li> The models return an array of directions sorted by preference </li>
						<li> Snake then uses the first direction with most preference </li>
						<li> If the first preferred direction doestnot help, snake uses the next preference</li>
					</ul>
					<br>
					<b>Fixed Model</b> <span>[Accuracy: 99.72%]</span> <br>
					<ul>
						<li>
							It takes 2 inputs <br>
							>> Possition of snake and food <br>
							>> Availbale directions
						</li>
					</ul>
					<b>Random Model</b> <span>[Accuracy: 94.74%]</span> <br>
					<ul>
						<li>
							It takes 3 inputs <br>
							>> Image of the Map <br>
							>> Possition of snake and food <br>
							>> Availbale directions
						</li>
					</ul>
					<br><hr>
					To see the summary of models and the complete back end <br>
					visit: <a href="https://github.com/geetu040/intelli-snake">Github Repository</a>

				</div>


				{% for y in range(params.rows) %}
					{% for x in range(params.cols) %}
						<div class="game-item"></div>
					{% endfor %}
				{% endfor %}


			</div>
		</div>
		<div class="right">
			<button id="btn_pause_auto" onclick="map.guide('close');map.pause_auto()">Automate</button>
			<button id="btn_next_map" onclick="map.next_map()">Random Map</button>
			<button id="btn_speeder" onclick="map.speeder()">Slower</button>
			<button id="btn_collide" onclick="map.collide()">Enable Collision</button>
			<button onclick="map.do('replace_food')">Replace Food</button>
			<button onclick="map.do('replace_snake')">Replace Snake</button>
			<button onclick="map.guide()">Guide</button>
		</div>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://livejs.com/live.js"></script>
	<script>
		rows = {{params.rows}}
		cols = {{params.cols}}
	</script>
	<script src="static/web/script.js"></script>
</body>
</html>